# Dictionary Data Type

In [5]:
# Examples
strings = "What is your name?"
integer = 12, 30
floats = 2.3, 5.6

my_students = {
    "name": "Yemi",
    "age": 35,
    "city": "Lagos"
    
}

#my_students = {"name", "age", "city"}
print (my_students)

{'name': 'Yemi', 'age': 35, 'city': 'Lagos'}

In [6]:
print (my_students["name"])

Yemi

In [8]:
print (my_students["city"])

Lagos

# How to Modify Dictionary

In [ ]:
my_students[]

In [20]:
my_list = [1,2,3,4]
print (my_list)

[1, 2, 3, 4]

In [21]:
my_list.append(5)
print (my_list)

[1, 2, 3, 4, 5]

# To append in Ddictionary

In [23]:
my_students ["email"] = "rosyro4real2000@yahoo.com"
print (my_students)

{'name': 'Yemi', 'age': 35, 'city': 'Lagos', 'email': 'rosyro4real2000@yahoo.com'}

In [24]:
my_students["age"] = 90
print (my_students)

{'name': 'Yemi', 'age': 90, 'city': 'Lagos', 'email': 'rosyro4real2000@yahoo.com'}

# To remove item from the dictionary

In [26]:
del my_students["city"]
print (my_students)

{'name': 'Yemi', 'age': 90, 'email': 'rosyro4real2000@yahoo.com'}

In [28]:
# pop() is used to remove the last element in a list

email = my_students.pop("email")
print (my_students)

{'name': 'Yemi', 'age': 90}

In [29]:
print (email)

rosyro4real2000@yahoo.com

In [30]:
my_students ["city"] = "Lagos"
print (my_students)

{'name': 'Yemi', 'age': 90, 'city': 'Lagos'}

# Checking for Keywords

In [35]:
#name, city and age

if "name" in my_students:
    print ("Name exist here")
    
if "city" in my_students:
    print("City exist here")

Name exist here
City exist here

In [37]:
# Iteration over keys

for name in my_students:
    print (my_students)

{'name': 'Yemi', 'age': 90, 'city': 'Lagos'}
{'name': 'Yemi', 'age': 90, 'city': 'Lagos'}
{'name': 'Yemi', 'age': 90, 'city': 'Lagos'}

In [41]:
# More examples for checking for keyboards

inventory = {
    "apples": 19,
    "Banana": 20,
    "Strawberry": 13
}

if "grape" not in inventory:
    print ("Key 'grapes' is not there")

Key 'grapes' is not there

In [42]:
if "apples" in inventory:
    print ("Apple dey inside, look well well")

Apple dey inside, look well well

In [ ]:
# More Examples on Dictionary

In [43]:
# Creating a dictionary with key-value pairs
student = {
    "name": "Alice",
    "age": 23,
    "grades": [85, 90, 92]
}
print(student)

{'name': 'Alice', 'age': 23, 'grades': [85, 90, 92]}

In [44]:
# Accessing values by key
print(student["name"])  # Output: Alice
print(student["grades"])  # Output: [85, 90, 92]

Alice
[85, 90, 92]

In [46]:
# Adding a new key-value pair
student["Departmenr"] = "Computer Science"
print(student)

# Modifying an existing value
student["age"] = 24
print(student)

{'name': 'Alice', 'age': 24, 'grades': [85, 90, 92], 'major': 'Computer Science', 'Departmenr': 'Computer Science'}
{'name': 'Alice', 'age': 24, 'grades': [85, 90, 92], 'major': 'Computer Science', 'Departmenr': 'Computer Science'}

In [47]:
# Removing a key-value pair
del student["grades"]
print(student)

{'name': 'Alice', 'age': 24, 'major': 'Computer Science', 'Departmenr': 'Computer Science'}

In [48]:
# Looping through keys
for key in student:
    print(key)

# Looping through values
for value in student.values():
    print(value)

name
age
major
Departmenr
Alice
24
Computer Science
Computer Science

In [49]:
# Looping through key-value pairs
for key, value in student.items():
    print(f"{key}: {value}")

name: Alice
age: 24
major: Computer Science
Departmenr: Computer Science

In [51]:
# Creating a dictionary using comprehension
squares = {x: x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [57]:
# Checking if a key exists in a dictionary
if "name" in student:
    print("Name is present in the dictionary")

if "grades" not in student:
    print("Grades are not present in the dictionary")

Name is present in the dictionary

In [58]:
# Merging two dictionaries
student_info = {"name": "Alice", "age": 24}
student_scores = {"math": 95, "science": 90}
student_info.update(student_scores)
print(student_info)

{'name': 'Alice', 'age': 24, 'math': 95, 'science': 90}

In [59]:
# Creating and accessing nested dictionaries
classroom = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22}
}

print(classroom["student1"]["name"])  # Output: Alice

Alice

In [60]:
# Using get method to access values
# Returns None if the key is not found
print(student.get("name"))  # Output: Alice
print(student.get("grades"))  # Output: None

Alice
[80, 85]

In [61]:
# Using setdefault to set a value if key doesn't exist
student.setdefault("grades", [80, 85])
print(student)

{'name': 'Alice', 'major': 'Computer Science', 'Departmenr': 'Computer Science', 'grades': [80, 85]}

In [67]:
# Removing a key-value pair and returning the value
student = {
    "name": "Alice",
    "age": 23,
    "grades": [85, 90, 92]
}
age = student.pop("age")
print(age)  
print(student)

23
{'name': 'Alice', 'grades': [85, 90, 92]}

In [ ]:
# Class Exercise on Dictionary 
# Given a dictionary bellow, add a new key value to the dictionary
# Modify an existing key value pair,
# Remove an entry from the key values pair.

In [10]:
# Dictionary

cars = {
    "brand": "Toyota",
    "Model": "Corolla",
    "Year": 2020
}

print (cars)
print (cars["brand"])

{'brand': 'Toyota', 'Model': 'Corolla', 'Year': 2020}
Toyota

In [11]:
cars["Year"] = 2023
print (cars)

{'brand': 'Toyota', 'Model': 'Corolla', 'Year': 2023}

In [12]:
# Given a dictionary bellow, add a new key value to the dictionary

cars["color"]= "red"
print (cars)

{'brand': 'Toyota', 'Model': 'Corolla', 'Year': 2023, 'color': 'red'}

In [13]:
# Remove an entry from the key values pair.

del cars["Model"]
print (cars)

{'brand': 'Toyota', 'Year': 2023, 'color': 'red'}

# SET -
# This Is an unordered collection of unique elemets defined by {} bracket. It does not allow duplicates from a  collection,

In [14]:
# How to create a set Method 1
python_set = {1,2,3,4,5,6,7}
print (python_set)

{1, 2, 3, 4, 5, 6, 7}

In [15]:
# How to create a set Method 2
python2_set = set([2,4,6,8,10])
print (python2_set)

{2, 4, 6, 8, 10}

In [20]:
# How to add to a set in python

# Note Set in python does  ot support .append function, we use .add

python_set.add(8)
print (python_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# To remove an item from a set

In [21]:
python2_set.remove(6)
print (python2_set)

{2, 4, 8, 10}

In [23]:
# Basic Set Operations

a = {1,2,3,4}
b = {5,6,7,8}

# To solve for union in set

together = a.union(b)
print (together)

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
# Intersection in set (What the two list has in common)
a = {1,2,3,4,6}
b = {3,5,6,7,8}

intersection = a.intersection (b)
print (intersection)

{3, 6}

In [25]:
# Difference in Set

difference = a.difference(b)
print (difference)

{1, 2, 4}

In [26]:
# Checking for Membership in Sets
# in operation helps us to check for variable in a list

AB = {2,3,5,7,8,0}

print (2 in AB)
print (10 in AB)

True
False

In [27]:
# Example1: to check if Emmanuel loves yam

Emmanuel = {"rice", "afang", "beans"}
print ("yam" in Emmanuel)

False

In [28]:
print ("rice" in Emmanuel)

True

In [29]:
# Example 2: 

Christy = {
    "marital Status": "marmarried",
    "food": "plantain",
    "city": "Lagos"
}
if "food" in Christy:
    print ("She loves better food")
else:
    print ("She does not love better food")

She loves better food

In [32]:
#Example 3:
if "twins" in Christy:
    print ("He is in Lagos")
else:
    print("She does not have a twin")

She does not have a twin

In [34]:
if "married" in Christy:
    print ("She loves man")
else:
    print ("She does not love man")

She does not love man

In [36]:
# More examples on membweship in sets

company_equipment = {"laptops", "printers", "stapler"}
new_equipment = {"television", "laptops", "camera", "printer"}

for equipment in new_equipment:
    if equipment not in company_equipment:
        company_equipment.add(equipment)

print (company_equipment)

{'stapler', 'printers', 'camera', 'laptops', 'television', 'printer'}