# Declaring an integer

In [18]:
# Declaring an integer

a = 10
print (a)


# Output

10

# A String

In [9]:
# To Declare a String

A = "Hello World"
B = 'Hello People'
C = 30

print (B,",",A,",", C)

Hello People , Hello World , 30

# A List

In [10]:
# Example 1:" To print an empty list

empty_list = []
print (empty_list)

[]

In [11]:
# Example 2: A list with integer

numbers = [1,2,3,4,5,6]
print (numbers)

[1, 2, 3, 4, 5, 6]

In [13]:
# Example 3: A lisr with String

cars = ['BMW', 'Mercedez', 'Ford', 'Toyota']
print (cars)

['BMW', 'Mercedez', 'Ford', 'Toyota']

# Exercise 1: Print a list with integer, float, boolean and string

In [14]:
# Solition

ex1_solution = [20, True, 'mark', 00.2] 
print (ex1_solution)

[20, True, 'mark', 0.2]

# Nested List

In [21]:
Nigeria = [[2,3,4], ['Lagos', 'Abuja']]
print (Nigeria)

[[2, 3, 4], ['Lagos', 'Abuja']]

In [22]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print (matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Indexing a List

In [1]:
foods = ['rice', 'beans', 'meat', 'yam']
print (foods[3])

yam

In [2]:
print (foods[2])

meat

In [25]:
print (foods[1])

beans

In [26]:
print (foods[2])

meat

In [27]:
foods[1] = 'okro soup'
print (foods)

['rice', 'okro soup', 'meat']

# To Append/Add to a List

In [28]:
foods.append('afang')
print (foods)

['rice', 'okro soup', 'meat', 'afang']

# To Remove from a list

In [29]:
foods.remove('rice')
print (foods)

['okro soup', 'meat', 'afang']

# To Insert to a List

In [30]:
foods.insert(2,'amala')
print(foods)

['okro soup', 'meat', 'amala', 'afang']

# To Pop a List

In [32]:
# Example 1: Mention three cities and pop a city

cities = ['Akwa', 'Enugu', 'Anam']
popped_city = cities.pop()
print (popped_city)

Anam

In [3]:
# Example 2: Mention three foods and pop a food
foods = ['rice', 'beans', 'meat', 'yam']
popped_food = foods.pop()

print (popped_food)

yam

# DAY 2
# Topic - LEN FUNCTION
#  LEN FUNCTION - Is a function used to determine the lenght of a variable

In [11]:
# Example 1- To find the lenght of the variable

Dahel = "I love Python"
lenght_of_variable = len(Dahel)

print (lenght_of_variable)
print (Dahel)

13
I love Python

In [10]:
# Example 2- To print the length  of a variable for an integer

Tomatoes = [150, 700, 19]
cost_of_tomatoes = len(Tomatoes)
print (Tomatoes)
print (cost_of_tomatoes)

[150, 700, 19]
3

In [ ]:
# Example 2- 

Gadgets = [
          ['headphones', 'phones', 'watch'], 
          ['laptop', 'mouse', 'monitor'], 
          ['television', 'game console', 'speaker']
]
cost_of_gadgets = len(Gadgets)
print(cost_of_gadgets)

# To Count The Nested List

In [13]:
# Example 1

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
length_of_matrix = len (matrix)

print (length_of_matrix)

3

In [20]:
# Example 2: To count only the word in python

Dahel_Techies = "I love Python"
lenght_of_variable0 = len(Dahel[0])
lenght_of_variable1 = len(Dahel[1])
lenght_of_variable2 = len(Dahel[2])

print (lenght_of_variable0)
print (lenght_of_variable1)
print (lenght_of_variable2)

1
1
1

In [21]:
# Example 3 - To count the character in Excel

Dahel_techies = ['python', 'excel', 'data analysis']
david = len (Dahel_techies[1])
print (david)

5

# Class Assignment 1: Create a list of your favorite  fruits and perform the following:

# 1a. Create a list of favorite fruits

In [2]:
favorite_fruits = ["apple", "banana", "cherry", "date", "fig"]
print (favorite_fruits)

['apple', 'banana', 'cherry', 'date', 'fig']

# 1b. Add a new fruit to the list

In [4]:
new_fruit = "grape"
favorite_fruits.append(new_fruit)
print(new_fruit)

grape

# 1c. Find the index of a specific fruit

In [5]:
favorite_fruits = ["apple", "banana", "cherry", "date", "fig"]
print (favorite_fruits[1])

banana

# 1d. Sort the list in alphabetical order

In [19]:
favorite_fruits = ["apple", "banana", "cherry", "date", "fig"]
favorite_fruits.sort()
print(favorite_fruits)

['apple', 'banana', 'cherry', 'date', 'fig']

In [26]:
# example 1 - To sort the list by length 
favorite_fruits = sorted(favorite_fruits, key = len)
print (favorite_fruits)

['fig', 'date', 'apple', 'banana', 'cherry']

In [27]:
# Example 2- To soup the list of dahel Techies 

Dahel_techies = ['python', 'excel', 'data analysis']
david = sorted(Dahel_techies, key = len)
print (david)

['excel', 'python', 'data analysis']

# TUPLE
# Tuple cannot be modified

In [28]:
# Example 1:

coordinate = (10,20,40)
print (coordinate)

(10, 20, 40)

# Nested Tuple

In [30]:
# Example 

cars = (
    ('Toyota', 'volkswagen', 'hyundai'),
    ('Mercedes benz', 'BMW', 'Ferran')
)

print (cars)

(('Toyota', 'volkswagen', 'hyundai'), ('Mercedes benz', 'BMW', 'Ferran'))

# TUPLE Addtion/ Concatenation

In [32]:
# Example 2 To add two tuples

Tuple1 = (1,2,3,4,5)
Tuple2 = (6,7,8,9,10)
combined_tuple = Tuple1 + Tuple2

print (combined_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

#  Slicing

In [38]:
# Example 1: To print a slice yuple that contain element from index 1 to 4

numbers = 0,1,2,3,4,5,6,7
slice1 = numbers[2:5]
print (slice1)

(2, 3, 4)

In [39]:
# Example 2: Print the number 3,4 and 5

slice2 = numbers [3:6]
print (slice2)

(3, 4, 5)

In [40]:
# Example 3: Print numbers all the way to four without 4

slice3 = numbers [0:4]
print (slice3)

(0, 1, 2, 3)

In [41]:
slice3 = numbers [:4]
print (slice3)

(0, 1, 2, 3)

In [42]:
# print 4,5,6,7

slice4 = numbers[4:]
print (slice4)

(4, 5, 6, 7)

In [49]:
#print all the  numbers
slice5 = numbers[:]
print (slice5)

(0, 1, 2, 3, 4, 5, 6, 7)

# To Slice a Tuple

In [51]:
#Example: To print 1,2,3 using slicing

tuple_slice1 = combined_tuple [:3]
print (tuple_slice1)

(1, 2, 3)

# 1e. Remove  a fruit from the list

In [6]:
favorite_fruits = ["apple", "banana", "cherry", "date", "fig"]

fruit_to_remove = "banana"
if fruit_to_remove in favorite_fruits:
    favorite_fruits.remove(fruit_to_remove)
print (fruit_to_remove)

banana

In [11]:
# To remove from a the list
fruit_to_remove = ('banana')
print(fruit_to_remove)

banana

# Length of a Variable

# Example 1: Fine the length of a variable

Dahel = 'I Love Python'
length_of_variable = len(Dahel)
print (length_of_variable)

In [12]:
# Example 2: Fine the length of a variable for an integer

Tomatoes = [150, 700, 19]
cost_of_tomatoes = len(Tomatoes)
print(cost_of_tomatoes)

3

In [14]:
# Example 2: Fine the length of a variable for an nested list

Gadgets = [
    ['headphobe', 'phones', 'watch'],
    ['laptop', 'game console', 'speaker']
]
cost_gadget = len(Gadgets)
print (cost_gadget)

2

In [25]:
# To count a nested list 
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
length_of_matrix = len(matrix)
print (length_of_matrix)

3

In [25]:
fruits = ['banana', 'mango', 'oranges']
sorted_fruit = sorted (fruits, key = len)
print (sorted_fruit)

['mango', 'banana', 'oranges']

# Class Exercise 2:  List Comprehension: 
# 2a) Create a list of numbers from 1 to 10 and 
# 2b) Use list comprehension to generate a new list containing the squares of these numbers.

In [37]:
# 2a) To cCreate a list of numbers from 1 to 10

numbers = list(range(1, 10 + 1))
print (numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# To explain code No, 3a above:
# - Range function is used to create a list of number
# - Range(1, 11) generates numbers from 1 to 10.
# - List() converts this range into a list. 
# - When you run the codes, it generates number from 1 to 10

In [53]:
# 2b) To use list comprehension to generate a new list containing the squares of these numbers.

numbers = list(range(1, 10 + 1))
squares = [number ** 2 for number in numbers]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# To explain code No, 3b above:
# - [number**2 for number in numbers] is the list comprehension.
# - number**2 is the arithmetic expression that computes the square of the numbers.
# - for number in numbers is the loop Basoc statement that goes through each number in the numbers list.
# - When you print squares, it generate the square of each number.

# Class Exercise 3: Nested Lists
# 3a Create a nested list to represent the following matrix and write code to:
# 3b Print the element in the second row and third column.
# 3c Calculate the sum of all elements in the matrix.
# Here's the Matrix:
# 1 2 3
# 4 5 6
# 7 8 9

In [55]:
# 3a To create reate the nested list representing the matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print (matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [67]:
# To explain code 4a
# We define a nested list matrix where each sublist represents a row in the matrix.
# For example, matrix[0] = the first row [1, 2, 3], matrix[1] = the second row [4, 5, 6], and  matrix[2] = [7, 8, 9].

# Matrix Mmanipulations

In [60]:
# Print the element in the second row 
element_in_2_rows = matrix[1]
print (element_in_2_rows)

[4, 5, 6]

In [62]:
# Print the element in the third row 
element_in_3_rows = matrix[2]
print (element_in_3_rows)

[7, 8, 9]

In [72]:
# Print the element in the first row and second column
element_2_3 = matrix[0][1]
print (element_2_3)

2

In [74]:
# Print the element in the third row and second column
element_2_3 = matrix[2][1]
print (element_2_3)

8

In [65]:
# 3b Print the element in the second row and third column
element_2_3 = matrix[1][2]
print(f"Element in the second row and third column: {element_2_3}")

Element in the second row and third column: 6

In [ ]:
# To explain the code i 3b
#To print the element in the second row and third column, 
# We use matrix[1][2]. In Python indexing, matrix[1] gives us the second row ([4, 5, 6]),
# And matrix[1][2] gives us the third element in that row (6).

In [75]:
# 3c Calculate the sum of all elements in the matrix
sun_of_matrix = sum(sum(row) for row in matrix)
print(f"The sum of all elements in the matrix is: {sun_of_matrix}")

The sum of all elements in the matrix is: 45

In [ ]:
# To explain the code i 3c
# For matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]:
# Sum(row) for [1, 2, 3] is 6
# Sum(row) for [4, 5, 6] is 15
# Sum(row) for [7, 8, 9] is 24
# Therefore, sum_of_matrix will be 6 + 15 + 24 = 45.

In [80]:
# Calculate the sum of all elements in the matrix: Alternatively 
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
sum_of_matrix = 0
for row in matrix:
    for element in row:
        sum_of_matrix += element
print (sum_of_matrix)

45

In [ ]:
# To explain the code i 3c
## To calculating the Sum of the matrix:
# We initialize sun_of_matrix to zero.
# We then use nested loops to iterate through each element in the matrix.
# Each element is added to sun_of_matrix, resulting in the sum of all elements in the matrix.

In [78]:
sun_of_matrix = sum(row)
print (sun_of_matrix)

24

# List of Dictionaries
# Class Exercise 4a Create a list of dictionaries where each dictionary represents a student with keys "name" and "score". Write code to:
# 4b Add a new student to the list.
# 4c Calculate the average score of all students.

In [1]:
# 4a: Create a list of dictionaries representing students
students_list = [
    {"name": "David", "score": 39},
    {"name": "Bola", "score": 60},
    {"name": "Femi", "score": 66}
]
print (students_list)

[{'name': 'David', 'score': 39}, {'name': 'Bola', 'score': 60}, {'name': 'Femi', 'score': 66}]

In [ ]:
# Existing list of students
students_list = [
    {"name": "David", "score": 39},
    {"name": "Bola", "score": 60},
    {"name": "Femi", "score": 66}
]

In [6]:
# 4b. To add a new student to the list

# Existing student list
students_list = [
    {"name": "David", "score": 39},
    {"name": "Bola", "score": 60},
    {"name": "Femi", "score": 66}
]

# New student to add
new_student = {"name": "Tope", "score": 59}

# Add the new student to the list
students_list.append(new_student)

# Print the updated list of students
print(students_list)

[{'name': 'David', 'score': 39}, {'name': 'Bola', 'score': 60}, {'name': 'Femi', 'score': 66}, {'name': 'Tope', 'score': 59}]

In [7]:
# 4c: To calculate the average score of all students

total_score = sum(student['score'] for student in students_list)
average_score = total_score / len(students_list)

# Print the list of students and the average score
print("List of Students:", students_list)
print("Average Score:", average_score)

List of Students: [{'name': 'David', 'score': 39}, {'name': 'Bola', 'score': 60}, {'name': 'Femi', 'score': 66}, {'name': 'Tope', 'score': 59}]
Average Score: 56.0

# Class Exercise 5. List Filtering
# 5a) Create a list of numbers from 1 to 20. 
# 5b) Use list comprehension to filter out the numbers that are not divisible by 3.

In [13]:
# 5a): Create a list of numbers from 1 to 20

# range(1, 21) generates numbers from 1 to 20.
# list(range(1, 21)) converts the range object into a list.

numbers = list(range(1, 21))
print (numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# 5b): Use list comprehension to filter out the numbers that are not divisible by 3

#if number % 3 == 0 includes the number in the new list filtered_numbers only if it is divisible by 3.
filtered_numbers = [number for number in numbers if number % 3 == 0]
print (filtered_numbers)

# Class Exercise 6: Finding Common Elements
# 6a) Given two lists of integers, 
# 6b) find the common elements between them.

In [18]:
# 6a) To define two lists of integers

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
list2 = [2, 4, 6 , 8, 10, 12, 14, 16, 18, 20]

# Find common elements using set intersection
common_elements = list(set(list1) & set(list2))
print(common_elements)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Class Exercise 7: List Reversal
# 7a) Create a list of words and 
# 7b) write code to reverse the list.

In [20]:
# 7a) Create a list of words
words = ["keyboard", "printer", "joy stick", "monitor", "scanner", "camera", "plotter", "mouse"]

# 7b) Reverse the list
reversed_list = words[::-1]

print("Original list:", words)
print("Reversed list:", reversed_list)

Original list: ['keyboard', 'printer', 'joy stick', 'monitor', 'scanner', 'camera', 'plotter', 'mouse']
Reversed list: ['mouse', 'plotter', 'camera', 'scanner', 'monitor', 'joy stick', 'printer', 'keyboard']

# Exercise 8: Removing Duplicates
# Given a list of integers, write code to remove duplicate elements and return the list of unique elements.

In [31]:
def remove_duplicates(nums):
    seen = set()
    unique_nums = []
    for num in nums:
        if num not in seen:
            seen.add(num)
            unique_nums.append(num)
    return unique_nums

# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2, 4, 6 , 8, 10, 12, 14, 16, 18, 20]
unique_numbers = remove_duplicates(numbers)
print(unique_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [39]:
def combine_lists(list1, list2):
    # Check if both lists are of the same length
    if len(list1) != len(list2):
        raise ValueError("Lists must be of the same length")

    # Create a new list where each element is the sum of corresponding elements from list1 and list2
    combined_list = [list1[i] + list2[i] for i in range(len(list1))]
    
    return combined_list

# Example usage:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]

combined_list = combine_lists(list1, list2)
print(combined_list)  # Output: [6, 8, 10, 12]

[6, 8, 10, 12]

# Exercise 9. Combining Lists
# Given two lists of the same length, create a new list where each element is the sum of the elements at the corresponding position in the original lists.

In [55]:
# Given two lists of the same length

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
combined_list = list1 + list2

print (combined_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
# To create a new list where each element is the sum of the elements at the corresponding position in the original lists.

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
combined_list = [x + y for x, y in zip(list1, list2)]

print(combined_list)

[7, 9, 11, 13, 15]

# Exercise 10: Rotating a List
# Write a function to rotate a list by a given number of positions to the left.

In [57]:
def rotate_list_left(lst, positions):
    n = len(lst)
    positions = positions % n  # To handle cases where positions > n
    return lst[positions:] + lst[:positions]

# Example usage
list1 = [1, 2, 3, 4, 5]
rotated_list = rotate_list_left(list1, 2)
print(rotated_list)

[3, 4, 5, 1, 2]